/* Product Container */
.product-container {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Product Section */
.product-section {
  display: flex;
  gap: 40px;
}

/* Left Section: Images */
.image-section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1;
}

/* .thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 20%;
  overflow-y: auto;
} */

.thumbnail {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border: 1px solid #ccc;
  cursor: pointer;
}

.selected-thumbnail {
  border-color: #FFA500;
}

.main-image-container {
  flex: 4;
}

.main-image {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

/* Right Section: Product Details */
.product-details {
  flex: 1;
}

.product-name {
  font-size: 24px;
  font-weight: 500;
}


.product-price {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}

.product-description {
  margin-top: 20px;
  color: #757575;
}

.size-selection {
  margin-top: 30px;
}

.size-buttons {
  display: flex;
  gap: 10px;
}

.size-button {
  padding: 12px 24px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.size-button:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.7;
}

.selected-size {
  border-color: #FFA500;
}

.add-to-cart-button {
  background-color: black;
  color: white;
  padding: 12px 40px;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-cart-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-to-cart-button.disabled {
  background-color: #e74c3c;
}

.product-divider {
  margin-top: 40px;
  width: 80%;
}

.product-policies {
  margin-top: 20px;
  font-size: 14px;
  color: #757575;
}

.product-policies p {
  margin-bottom: 10px;
}

/* Description and Reviews */
.description-reviews {
  margin-top: 50px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.review-count {
  color: #666;
  font-size: 14px;
}

.tabs {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.tab {
  padding: 12px 20px;
  background: none;
  border: none;
  font-size: 16px;
  color: #666;
  cursor: pointer;
  position: relative;
}

.tab.active {
  color: #000;
  font-weight: 500;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.tab-content {
  padding: 20px 0;
}

.description-text {
  margin-top: 20px;
  font-size: 14px;
  color: #757575;
}

/* Loading State */
.loading-state {
  text-align: center;
  font-size: 24px;
  color: #757575;
}

.product-stock {
  margin: 15px 0;
}

.stock-status {
  font-size: 0.95rem;
  font-weight: 500;
}

.in-stock {
  color: #2ecc71;
}

.out-of-stock {
  color: #e74c3c;
}
